{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Swift Tasks</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'tapp\index.css' %}">
    </head>
    
    <body>
        <div class="container">
            <h1>Swift Tasks</h1>
            <div class="add-elements">
                <form action="", method="POST">
                    {% csrf_token %}
                    <input id="add" type="text" placeholder="add a task", name="title">
                    <input type="text", name="body", placeholder="body">
                    <div class="add-button">
                        <button type="submit" id="btn">Add</button>
                    </div>
                </form>
            </div>
            
            <div class="element-list">
                <ul id="list">
                    {% for t in tasks %}
                    <li><a id="view_links" href="{% url 'view_todo' t.id %}">{{ t.title }}</a> <a id="update_link" href="{% url 'update' t.id %}">update</a> <a id="delete_link" href="{% url 'delete' t.id %}">delete</a> </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <!-- <script src="script.js"></script> -->
    </body>
    
</html>
