<!DOCTYPE HTML>
<html>
    <head>
        <title>Update</title>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="main.css"> -->
    </head>
    
    <body>
        <div class="container">
            <h1>{{ task.title }}</h1>
            <div class="add-elements">
                <form action="", method="POST">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.body }}
                    <button type="submit" id="btn">Update</button>
                </form>
            </div>
        </div>
        <!-- <script src="script.js"></script> -->
    </body>
    
</html>
