<!DOCTYPE HTML>
<html>
    <head>
        <title>To-Do List</title>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="main.css"> -->
    </head>
    
    <body>
        <div class="container">
            <h1>{{ todo.title }}</h1>
            
            <div class="element-list">
                <ul id="list">
                    <li>{{ todo.body }}</li>
                    <li>{{ todo.date }}</li>
                    <li>{{ todo.completed }}</li>
                </ul>
            </div>
            
        </div>
        <!-- <script src="script.js"></script> -->
    </body>
    
</html>
